<h1>Commnets (<%= @current_page %> / <%= @total_pages %>)</h1>

<%= render 'comments' %>

<p>
  <% if @are_more_pages %>
    <%= link_to 'Old Posts', article_page_path(@current_page+1) %>
  <% end %>
  <% if @current_page == 2 %>
    <%= link_to 'New Posts', articles_path %>
  <% else %>
    <%= link_to 'New Posts', article_page_path(@current_page-1) %>
  <% end %>
</p>

<p><%= link_to 'Show all', article_all_path %></p>

<p><%= link_to 'Top', articles_path %></p>
